@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
html,
body {
  background-image: url(https://images.unsplash.com/photo-1503506584117-5ed92741077a?ixlib=rb-0.3.5…EyMDd9&s=4ff8946…&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.title {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  color: white;
  font-size: 85px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 175px;
  padding-bottom: 25px;
}

.keys {
  width: 1000px;
  margin: auto;
  text-align: center;
  margin-top: 45px;
}

.key {
  background: rgba(255, 255, 255, 0.5);
  margin: 8px;
  text-align: center;
  display: inline-block;
  width: 80px;
  padding: 10px 0;
  border-radius: 5px;
  transition: all .2s;
}
.key kbd {
  font-size: 36px;
  display: block;
}
.key .sound {
  text-transform: capitalize;
}

.playing {
  border: 5px solid #F5DA55;
  -webkit-box-shadow: 0 0 20px #F5DA55;
          box-shadow: 0 0 20px #F5DA55;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}
